<ion-view title="软件设置" hide-back-button="false" hide-nav-bar="false" id="my_swSet">
	<ion-content class="has-header" padding="false">
		<div class="bg-grey">
			<div class="list">
				<div class="empty"></div>
				<a class="item item-arrow">清理缓存</a>
				<div class="empty"></div>
				<a class="item item-arrow" ui-sref="updatePwd">修改密码</a>
				<a class="item item-arrow" ui-sref="systemHelps">帮助手册</a>
				<a class="item item-arrow" ui-sref="systemUseragreement">用户协议</a>
				<a class="item item-arrow" ui-sref="systemSoftsetAboutus">关于我们</a>
			</div>
		</div>
		<a class="button button-balanced button-block" ng-click="logout()">退出当前账号</a>

	</ion-content>
</ion-view>

