<div class="tabs-stable tabs-icon-top tabs-bottom tabs-striped">
  <div class="tab-nav tabs">
    <a class="tab-item" ng-click="to('news')">
      <i class="icon tab-icon-news" ng-class="{'tab-icon-active':select==0}"></i>
      <span class="tab-title">新闻</span>
    </a>
    <a class="tab-item" ng-click="to('govInfo')">
      <i class="icon tab-icon-govinfo" ng-class="{'tab-icon-active':select==1}"></i>
      <span class="tab-title">政务</span>
    </a>
    <a class="tab-item" ng-click="to('homepage')">
      <i class="icon tab-icon-homepage" ng-class="{'tab-icon-active':select==2}"></i>
      <span class="tab-title">首页</span>
    </a>
    <a class="tab-item" ng-click="to('servHall')">
      <i class="icon tab-icon-serv" ng-class="{'tab-icon-active':select==3}"></i>
      <span class="tab-title">服务</span>
    </a>
    <a class="tab-item" ng-click="to('my')">
      <i class="icon tab-icon-my" ng-class="{'tab-icon-active':select==4}"></i>
      <span class="tab-title">我的</span>
    </a>
  </div>
</div>
