<ion-view title="找回密码"
    class="register">

    <ion-content class="has-header">

        <div class="list">
            <label class="item">
                <span class="text-color">国家和地区</span>
                &nbsp;&nbsp;&nbsp;&nbsp;中国+86
            </label>
            <label class="item item-input">
                <img src="img/register/u84.png" />
                <input type="number" placeholder="请输入手机号"
                    ng-model="params.phoneNO" />
            </label>

        </div>

        <div class="reg-btn" ng-click="sendSms()">下一步</div>

    </ion-content>
</ion-view>