<ion-view title="修改密码"
    class="register">

    <ion-content class="has-header">

        <div class="list">

            <label class="item item-input">
                <img src="img/register/u153.png" />
                <input type="password" placeholder="请输入您的原始密码"
                    ng-model="params.oldPassword">
                <img src="img/register/u151.png" />
            </label>
            <label class="item item-input">
                <img src="img/register/u153.png" />
                <input type="password" placeholder=" 请输入6~20位数字、字母密码"
                    ng-model="params.newPassword">
                <img src="img/register/u151.png" />
            </label>
            <label class="item item-input">
                <img src="img/register/u153.png" />
                <input type="password" placeholder="请再次输入新密码"
                    ng-model="params.newPasswordDup">
                <img src="img/register/u151.png" />
            </label>

        </div>

        <div class="reg-btn" ng-click="updatePwd()">确定</div>

    </ion-content>
</ion-view>